# Building and Exploring the dataset

In [4]:
import pandas as pd 
import numpy as np
#word manipulation
from nltk.tokenize import word_tokenize  

df_crosswalk = pd.read_csv('master_crosswalk.csv')
df_books = pd.read_csv('master_context.csv', '\t',encoding='utf-8')
df_questions = pd.read_csv('master_questions.csv', '\t')

In [5]:
df_crosswalk.head()

   book_id  question_id  section_id  Gutenberg
0       93          180          30          1
1       93          179          30          1
2       93          178          30          1
3       93          177          30          1
4       93          176          30          1

In [6]:
df_crosswalk['section_id'] = pd.to_numeric(df_crosswalk['section_id'], errors='coerce')

In [7]:
#with pd.option_context('display.max_rows', None, 'display.max_columns', 3):
 #   print(df_crosswalk.iloc[:,2])

In [8]:
#df_crosswalk['section_id'].astype('int')

In [9]:
df_crosswalk.dtypes

book_id        int64
question_id    int64
section_id     int64
Gutenberg      int64
dtype: object

In [10]:
df_books.tail()

,Unnamed: 0,context,tags,book_id,section_id
1680,1680,"CHAPTER V.\r\n\r\n\r\nThe author, by an extrao...",98\5.txt,98,5
1681,1681,CHAPTER VI.\r\n\r\n\r\nOf the inhabitants of L...,98\6.txt,98,6
1682,1682,"CHAPTER VII.\r\n\r\n\r\nThe author, being info...",98\7.txt,98,7
1683,1683,"CHAPTER VIII.\r\n\r\n\r\nThe author, by a luck...",98\8.txt,98,8
1684,1684,PART II. A VOYAGE TO BROBDINGNAG.\r\n\r\n\r\n...,98\9.txt,98,9

In [11]:
df_books.shape

(1685, 5)

In [12]:
df_books.groupby('book_id').count()[1:5]

         Unnamed: 0  context  tags  section_id
book_id
35               30       30    30          30
77               12       12    12          12
79               30       30    30          30
83                9        9     9           9

In [13]:
df_books.dtypes

Unnamed: 0     int64
context       object
tags          object
book_id        int64
section_id     int64
dtype: object

In [14]:
df_questions.head()

,Unnamed: 0,question_id,question,answer,book_id,syntax
0,0,0,1. When does Phileas Fogg first meet Jean\r\r\...,"October, 1872",93,True
1,1,1,2. What is the only establishment of which\r\r...,The Reform Club of London,93,True
2,2,2,3. For what job does Fogg hire Passepartout?,To be his servant,93,True
3,3,3,4. What nationality is Jean Passepartout?,French,93,True
4,4,4,5. To what does Passepartout compare his\r\r\r...,Madame Tussand's\r\r\r\nwax museum figures,93,True

In [15]:
df_questions.iloc[1,2]

'2. What is the only establishment of which\r\r\r\nFogg is a member?'

In [16]:
import re
regex_pat = re.compile(r"^([^.]*).*")

In [17]:
df_questions['question_id'] = df_questions['question'].str.extract(regex_pat).astype('int64')

/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [18]:
df_merge = pd.merge(df_crosswalk, df_questions, on=['book_id','question_id'], how='outer')

In [19]:
df_merge[1:20]

,book_id,question_id,section_id,Gutenberg,Unnamed: 0,question,answer,syntax
1,93,179,30,1,178.0,179. What does Fogg get from his journey\r\r\r...,All of these,True
2,93,178,30,1,177.0,"178. Who says: ""That we might have\r\r\r\nmade...",Passepartout,True
3,93,177,30,1,176.0,177. What does Passepartout do with the\r\r\r\...,He splits it between Passepartout and Fix,True
4,93,176,30,1,175.0,176. What does Passepartout discover on\r\r\r\...,"They arrived on Saturday, not Sunday",True
5,93,175,30,1,174.0,175. What errand does Fogg send\r\r\r\nPassepa...,To secure a minister,True
6,93,174,29,1,173.0,174. What does Fogg say to his friends at\r\r\...,"Here I am, gentlemen!",False
7,93,173,29,1,172.0,173. How long does Fogg have to spare\r\r\r\nb...,Four seconds,True
8,93,172,29,1,171.0,172. Where do Fogg's friends plan to cash\r\r\...,Barings,True
9,93,171,29,1,170.0,171. What time do Fogg's friends at the\r\r\r\...,8:40 p.m,True
10,93,170,29,1,169.0,170. How many people have wagered against\r\r\...,Five,True
11,93,169,29,1,168.0,169. How has the public opinion of Phileas\r\r...,All of these,True
12,93,168,28,1,167.0,"168. Who says: ""Yes, by all that is\r\r\r\nhol...",Fogg,True
13,93,167,28,1,166.0,167. What does Aouda ask Fogg after\r\r\r\nlea...,All of these,True
14,93,166,28,1,165.0,166. What does Fogg ask Aouda for after\r\r\r\...,Her forgiveness,True
15,93,165,28,1,164.0,165. What time does Fogg go to speak with\r\r\...,7:00 p.m,True
16,93,164,28,1,163.0,164. What does Fogg spend his first day\r\r\r\...,Putting his affairs in order,True
17,93,163,28,1,162.0,163. When does Fogg call for Passepartout\r\r\...,The next morning,True
18,93,162,27,1,161.0,162. What time does Fogg arrive in London?,Ten minutes to nine,True
19,93,161,27,1,160.0,161. How does Fogg and his party get to\r\r\r\...,By train,True

In [20]:
df_merge.iloc[13000:13010]

,book_id,question_id,section_id,Gutenberg,Unnamed: 0,question,answer,syntax
13000,108,41,1,1,1114.0,41. What figure becomes very clear in\r\r\r\nm...,A man,False
13001,108,42,1,1,1115.0,42. What does John force the narrator to\r\r\r...,Take a nap,False
13002,108,43,1,1,1116.0,43. What does the narrator believe\r\r\r\ncult...,Lying awake during the sanctioned naptimes,False
13003,108,44,1,1,1117.0,44. Why does the narrator believe that the\r\r...,She is distracted by the wallpaper,False
13004,108,45,1,1,1118.0,45. Who does the narrator become afraid\r\r\r\...,John,False
13005,108,46,1,1,1119.0,46. What does the narrator think John is\r\r\r...,The wallpaper,False
13006,108,47,1,1,1120.0,47. What color stains does Jennie find on\r\r\...,Yellow,False
13007,108,48,1,1,1121.0,48. Jennie says what stains all of their\r\r\r...,The wallpaper,False
13008,108,49,1,1,1122.0,49. The narrator believes that the\r\r\r\nwall...,An odor,False
13009,108,50,1,1,1123.0,50. What does the narrator think about\r\r\r\n...,Burn the house down,False

In [21]:
df_merge.dtypes

book_id          int64
question_id      int64
section_id       int64
Gutenberg        int64
Unnamed: 0     float64
question        object
answer          object
syntax          object
dtype: object

In [22]:
pd.set_option('display.width', 200)

In [23]:
df_merge2 = pd.merge(df_merge, df_books, on=['book_id','section_id'], how='outer')

In [24]:
pd.options.display.max_rows = 10
df_merge2

,book_id,question_id,section_id,Gutenberg,Unnamed: 0_x,question,answer,syntax,Unnamed: 0_y,context,tags
0,93,180,30,1,179.0,180. How many days after returning home\r\r\r\...,Two,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEAS FOGG GAI...,93\30.txt
1,93,179,30,1,178.0,179. What does Fogg get from his journey\r\r\r...,All of these,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEAS FOGG GAI...,93\30.txt
2,93,178,30,1,177.0,"178. Who says: ""That we might have\r\r\r\nmade...",Passepartout,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEAS FOGG GAI...,93\30.txt
3,93,177,30,1,176.0,177. What does Passepartout do with the\r\r\r\...,He splits it between Passepartout and Fix,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEAS FOGG GAI...,93\30.txt
4,93,176,30,1,175.0,176. What does Passepartout discover on\r\r\r\...,"They arrived on Saturday, not Sunday",True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEAS FOGG GAI...,93\30.txt
...,...,...,...,...,...,...,...,...,...,...,...
16459,127,68,2,1,2767.0,68. What does Fauchelevent actually carry out ...,Jean Valjean,True,548.0,���VOLUME II.--COSETTE\r\n\r\n\r\n\r\nBOOK FIR...,127\2.txt
16460,127,69,2,1,2768.0,69. Fauchelevent tells the nuns that Jean Valj...,Ultimus,True,548.0,���VOLUME II.--COSETTE\r\n\r\n\r\n\r\nBOOK FIR...,127\2.txt
16461,127,70,2,1,2769.0,70. Where does Cosette enroll in school in Boo...,At the convent,True,548.0,���VOLUME II.--COSETTE\r\n\r\n\r\n\r\nBOOK FIR...,127\2.txt
16462,127,71,2,1,2770.0,71. Who is Cosette’s mother in the novel?\r\r\n,Fantine,True,548.0,���VOLUME II.--COSETTE\r\n\r\n\r\n\r\nBOOK FIR...,127\2.txt
16463,127,72,2,1,2771.0,72. What is the name of Cosette’s father in th...,Felix Tholomyes,True,548.0,���VOLUME II.--COSETTE\r\n\r\n\r\n\r\nBOOK FIR...,127\2.txt

Combining

In [25]:
df_merge2.dtypes

book_id           int64
question_id       int64
section_id        int64
Gutenberg         int64
Unnamed: 0_x    float64
                 ...
answer           object
syntax           object
Unnamed: 0_y    float64
context          object
tags             object
Length: 11, dtype: object

In [26]:
#df_merge2["train_text"] =  df_merge2["question"].map(str) + str(' ') +  df_merge2["context"]

In [27]:
pd.set_option('display.width', 100)
pd.set_option('display.height', 100)
pd.set_option('max_colwidth',40)
pd.options.display.max_rows = 10
df_merge2[1:100]

height has been deprecated.

,book_id,question_id,section_id,Gutenberg,Unnamed: 0_x,question,answer,syntax,Unnamed: 0_y,context,tags
1,93,179,30,1,178.0,179. What does Fogg get from his jou...,All of these,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEA...,93\30.txt
2,93,178,30,1,177.0,"178. Who says: ""That we might have\r...",Passepartout,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEA...,93\30.txt
3,93,177,30,1,176.0,177. What does Passepartout do with ...,He splits it between Passepartout an...,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEA...,93\30.txt
4,93,176,30,1,175.0,176. What does Passepartout discover...,"They arrived on Saturday, not Sunday",True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEA...,93\30.txt
5,93,175,30,1,174.0,175. What errand does Fogg send\r\r\...,To secure a minister,True,1619.0,\r\nIN WHICH IT IS SHOWN THAT PHILEA...,93\30.txt
...,...,...,...,...,...,...,...,...,...,...,...
95,93,85,15,1,84.0,85. What day does the Carnatic sail ...,November 7th,True,1602.0,\r\nIN WHICH PASSEPARTOUT FINDS OUT ...,93\15.txt
96,93,84,14,1,83.0,84. Where is the typhoon that the\r\...,In the China Sea,True,1601.0,"\r\nIN WHICH THE MASTER OF THE ""TANK...",93\14.txt
97,93,83,14,1,82.0,83. What does Fix offer Fogg after F...,To pay for his passage,True,1601.0,"\r\nIN WHICH THE MASTER OF THE ""TANK...",93\14.txt
98,93,82,14,1,81.0,82. How many sails are left up on th...,One,True,1601.0,"\r\nIN WHICH THE MASTER OF THE ""TANK...",93\14.txt
99,93,81,14,1,80.0,81. Who refuses to go below on the\r...,Aouda and Fogg,True,1601.0,"\r\nIN WHICH THE MASTER OF THE ""TANK...",93\14.txt

In [28]:
df_merge2["context"] = df_merge2["context"].str.replace("[^\w\. \r \n @-]",'')

In [29]:
df_merge2["train_text"] =  df_merge2["question"].astype('str') + str(' ') +  df_merge2["context"].astype('str')

In [30]:
df_model = df_merge2[["train_text", "answer"]]

In [31]:
#pd.set_option('display.max_colwidth', -1) 
df_merge2["train_text"]

0        180. How many days after returning h...
1        179. What does Fogg get from his jou...
2        178. Who says: "That we might have\r...
3        177. What does Passepartout do with ...
4        176. What does Passepartout discover...
                          ...
16459    68. What does Fauchelevent actually ...
16460    69. Fauchelevent tells the nuns that...
16461    70. Where does Cosette enroll in sch...
16462    71. Who is Cosette’s mother in the n...
16463    72. What is the name of Cosette’s fa...
Name: train_text, Length: 16464, dtype: object

In [32]:
df_model.head()

                                train_text                                   answer
0  180. How many days after returning h...                                      Two
1  179. What does Fogg get from his jou...                             All of these
2  178. Who says: "That we might have\r...                             Passepartout
3  177. What does Passepartout do with ...  He splits it between Passepartout an...
4  176. What does Passepartout discover...     They arrived on Saturday, not Sunday

In [33]:
df_model['train_text']= df_model['train_text'].str.lower()
df_model['answer']= df_model['answer'].str.lower()

/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
df_model['train_text'] = df_model['train_text'].str.replace('\\n',' ')
df_model['train_text'] = df_model['train_text'].str.replace('\\r',' ')
df_model['train_text'] = df_model['train_text'].str.replace('\.',' ')
df_model['train_text'] = df_model['train_text'].str.replace('\-',' ')

/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jennifer_p/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [35]:
df_model[16000:]

                                    train_text               answer
16000  149  what does the defense attorney ...                ideal
16001  150  what does the defense attorney ...  the truth of russia
16002  151  who is not sympathetic to the p...            the crowd
16003  152  what does the prosecutor say th...              riddles
16004  153  who becomes loud and angry and ...          kirillovich
...                                        ...                  ...
16459  68  what does fauchelevent actually ...         jean valjean
16460  69  fauchelevent tells the nuns that...              ultimus
16461  70  where does cosette enroll in sch...       at the convent
16462  71  who is cosette’s mother in the n...              fantine
16463  72  what is the name of cosette’s fa...      felix tholomyes

[464 rows x 2 columns]

In [36]:
df_model.tail()

                                    train_text           answer
16459  68  what does fauchelevent actually ...     jean valjean
16460  69  fauchelevent tells the nuns that...          ultimus
16461  70  where does cosette enroll in sch...   at the convent
16462  71  who is cosette’s mother in the n...          fantine
16463  72  what is the name of cosette’s fa...  felix tholomyes

In [37]:
df_model.iloc[0,0]

'180  how many days after returning home    are fogg and aouda married?   in which it is shown that phileas fogg gained nothing by his tour  around the world unless it were happiness      yes phileas fogg in person     the reader will remember that at five minutes past eight in the  evening  about five and twenty hours after the arrival of the  travellers in london  passepartout had been sent by his master to  engage the services of the reverend samuel wilson in a certain marriage  ceremony which was to take place the next day     passepartout went on his errand enchanted   he soon reached the  clergymans house but found him not at home   passepartout waited a  good twenty minutes and when he left the reverend gentleman it was  thirty five minutes past eight   but in what a state he was  with his  hair in disorder and without his hat he ran along the street as never  man was seen to run before overturning passers by rushing over the  sidewalk like a waterspout     in three minutes he was in saville row again and staggered back into  mr  foggs room     he could not speak     what is the matter asked mr  fogg     my master gasped passepartout  marriage  impossible      impossible    impossible  for to morrow     why so    because to morrow  is sunday    monday replied mr  fogg     no  to day is saturday     saturday  impossible    yes yes yes yes cried passepartout   you have made a mistake of  one day  we arrived twenty four hours ahead of time but there are  only ten minutes left    passepartout had seized his master by the collar and was dragging him  along with irresistible force     phileas fogg thus kidnapped without having time to think left his  house jumped into a cab promised a hundred pounds to the cabman and  having run over two dogs and overturned five carriages reached the  reform club     the clock indicated a quarter before nine when he appeared in the great  saloon     phileas fogg had accomplished the journey round the world in eighty  days    phileas fogg had won his wager of twenty thousand pounds    how was it that a man so exact and fastidious could have made this  error of a day  how came he to think that he had arrived in london on  saturday the twenty first day of december when it was really friday  the twentieth the seventy ninth day only from his departure    the cause of the error is very simple     phileas fogg had without suspecting it gained one day on his journey  and this merely because he had travelled constantly eastward he would  on the contrary have lost a day had he gone in the opposite direction  that is westward     in journeying eastward he had gone towards the sun and the days  therefore diminished for him as many times four minutes as he crossed  degrees in this direction   there are three hundred and sixty degrees  on the circumference of the earth and these three hundred and sixty  degrees multiplied by four minutes gives precisely twenty four  hours  that is the day unconsciously gained   in other words while  phileas fogg going eastward saw the sun pass the meridian eighty  times his friends in london only saw it pass the meridian seventy nine  times   this is why they awaited him at the reform club on saturday  and not sunday as mr  fogg thought     and passepartouts famous family watch which had always kept london  time would have betrayed this fact if it had marked the days as well  as the hours and the minutes    phileas fogg then had won the twenty thousand pounds but as he had  spent nearly nineteen thousand on the way the pecuniary gain was  small   his object was however to be victorious and not to win  money   he divided the one thousand pounds that remained between  passepartout and the unfortunate fix against whom he cherished no  grudge   he deducted however from passepartouts share the cost of  the gas which had burned in his room for nineteen hundred and twenty  hours for the sake of regularity     that evening mr  fogg as tranquil and phlegmatic as ever said to  aouda is our marriage still agreeable to you    mr  fogg replied she it is for me to ask that question   you were  ruined but now you are rich again     pardon me madam my fortune belongs to you   if you had not suggested  our marriage my servant would not have gone to the reverend samuel  wilsons i should not have been apprised of my error and      dear mr  fogg said the young woman     dear aouda replied phileas fogg     it need not be said that the marriage took place forty eight hours  after and that passepartout glowing and dazzling gave the bride  away   had he not saved her and was he not entitled to this honour    the next day as soon as it was light passepartout rapped vigorously  at his masters door   mr  fogg opened it and asked whats the  matter passepartout    what is it sir  why ive just this instant found out      what    that we might have made the tour of the world in only seventy eight  days     no doubt returned mr  fogg by not crossing india   but if i had  not crossed india i should not have saved aouda she would not have  been my wife and      mr  fogg quietly shut the door     phileas fogg had won his wager and had made his journey around the  world in eighty days   to do this he had employed every means of  conveyance  steamers railways carriages yachts trading vessels  sledges elephants   the eccentric gentleman had throughout displayed  all his marvellous qualities of coolness and exactitude   but what  then  what had he really gained by all this trouble  what had he  brought back from this long and weary journey    nothing say you  perhaps so nothing but a charming woman who  strange as it may appear made him the happiest of men    truly would you not for less than that make the tour around the world                  '

In [38]:
df_model.iloc[0,1]

'two'

In [39]:
df_model.to_csv('df_model_4-16-18.csv')

## Figuring out the breaks for the train|test|dev split

In [40]:
16463*0.6

9877.8

In [41]:
df_merge2[9718:9720]

,book_id,question_id,section_id,Gutenberg,Unnamed: 0_x,question,answer,syntax,Unnamed: 0_y,context,tags,train_text
9718,85,179,30,1,4759.0,179. What did Gilbert Blythe do to m...,He withdrew his application to teach...,True,1414.0,\r\n\r\nMARILLA went to town the nex...,85\30.txt,179. What did Gilbert Blythe do to m...
9719,85,180,30,1,4760.0,180. Who did Anne meet on her way ba...,Gilbert Blythe,False,1414.0,\r\n\r\nMARILLA went to town the nex...,85\30.txt,180. Who did Anne meet on her way ba...

In [42]:
9877/180

54.87222222222222

In [43]:
54*180

9720

In [44]:
16463*0.2

3292.6000000000004

In [45]:
9719+3292

13011

In [46]:
13011/180

72.28333333333333

In [47]:
72*180

12960

In [48]:
df_merge2[12989:12991]

,book_id,question_id,section_id,Gutenberg,Unnamed: 0_x,question,answer,syntax,Unnamed: 0_y,context,tags,train_text
12989,106,180,22,1,1880.0,180. What does Tom threaten to do if...,not allow Huck to be in his gang,False,118.0,CHAPTER XXXIV\r\n\r\nHUCK said Tom w...,106\22.txt,180. What does Tom threaten to do if...
12990,108,1,1,1,1074.0,1. Why does the unnamed protagonist\...,Because it is haunted,False,126.0,\r\nIt is very seldom that mere ordi...,108\1.txt,1. Why does the unnamed protagonist\...

## Partitioning Data

In [1]:
import pandas as pd 
import numpy as np
#word manipulation
from nltk.tokenize import word_tokenize  

df_model = pd.read_csv('df_model_4-16-18.csv',encoding='utf-8')

In [2]:
df_model.head()

,Unnamed: 0,train_text,answer
0,0,180 how many days after returning home are...,two
1,1,179 what does fogg get from his journey ar...,all of these
2,2,"178 who says: ""that we might have made the...",passepartout
3,3,177 what does passepartout do with the rem...,he splits it between passepartout and fix
4,4,176 what does passepartout discover on his...,"they arrived on saturday, not sunday"

In [8]:
df_train_data = df_model.iloc[0:9719,1]
df_train_labels = df_model.iloc[0:9719,2]

In [9]:
#to combat this error:  'Mix of label input types (string and number)'
df_train_labels = df_train_labels.astype(str)

In [10]:
df_train_data.shape

(9719,)

In [11]:
df_train_data.head()

0    180  how many days after returning home    are...
1    179  what does fogg get from his journey    ar...
2    178  who says: "that we might have    made the...
3    177  what does passepartout do with the    rem...
4    176  what does passepartout discover on    his...
Name: train_text, dtype: object

In [12]:
df_train_data.iloc[0:3]

0    180  how many days after returning home    are...
1    179  what does fogg get from his journey    ar...
2    178  who says: "that we might have    made the...
Name: train_text, dtype: object

In [13]:
df_train_labels.head()

0                                          two
1                                 all of these
2                                 passepartout
3    he splits it between passepartout and fix
4         they arrived on saturday, not sunday
Name: answer, dtype: object

In [14]:
df_test_data = df_model.iloc[9720:12989,1]
df_test_labels = df_model.iloc[9720:12989,2]
df_test_labels = df_test_labels.astype(str)

In [15]:
df_test_data.shape

(3269,)

In [16]:
df_dev_data = df_model.iloc[12990:,1]
df_dev_labels = df_model.iloc[12990:,2]
df_dev_labels = df_test_labels.astype(str)

In [17]:
df_dev_data.shape

(3474,)

In [18]:
df_train_data.fillna("", inplace=True)

In [19]:
df_test_data.fillna("", inplace=True)  
df_dev_data.fillna("", inplace = True)

# Building Model

In [20]:
1+1

2

In [21]:
from sklearn.feature_extraction.text import *
tfidf_vectorizer = TfidfVectorizer()
tfidf_train_vec = tfidf_vectorizer.fit_transform(df_train_data)
df_test_vec = tfidf_vectorizer.transform(df_test_data)

#vocab size
print ("With the TFIDF leveraged, the vocabulary size shrinks to : " + str(tfidf_train_vec.shape[1]) + "\n")

With the TFIDF leveraged, the vocabulary size shrinks to : 61922

In [22]:
from sklearn.linear_model import LogisticRegression
#Model with no preprocessing 
tfidf_LR_model = LogisticRegression(penalty="l2", C = 100)
tfidf_LR_model.fit(tfidf_train_vec, df_train_labels)

#makes predictions on the dev dataset with the model I just built
tfidf_dev_pred_labels = tfidf_LR_model.predict(df_test_vec)
tfidf_dev_pred_probs = tfidf_LR_model.predict_proba(df_test_vec)

In [23]:
import pickle
# save the model to disk
filename = 'finalized_model_post_midpoint.sav'
pickle.dump(tfidf_LR_model, open(filename, 'wb'))

In [24]:
from sklearn.linear_model import LogisticRegression
#Model with no preprocessing 
tfidf_LR_model2 = LogisticRegression(penalty="l2", C = 1)
tfidf_LR_model2.fit(tfidf_train_vec, df_train_labels)

#makes predictions on the dev dataset with the model I just built
tfidf_dev_pred_labels2 = tfidf_LR_model2.predict(df_test_vec)
tfidf_dev_pred_probs2 = tfidf_LR_model2.predict_proba(df_test_vec)

In [25]:
import pickle
# save the model to disk
filename = 'finalized_model_post_midpoint2.sav'
pickle.dump(tfidf_LR_model2, open(filename, 'wb'))

In [26]:
from sklearn.linear_model import LogisticRegression
#Model with no preprocessing 
tfidf_LR_model3 = LogisticRegression(penalty="l2", C = 0.1)
tfidf_LR_model3.fit(tfidf_train_vec, df_train_labels)

#makes predictions on the dev dataset with the model I just built
tfidf_dev_pred_labels3 = tfidf_LR_model3.predict(df_test_vec)
tfidf_dev_pred_probs3 = tfidf_LR_model3.predict_proba(df_test_vec)

In [27]:
import pickle
# save the model to disk
filename = 'finalized_model_post_midpoint3.sav'
pickle.dump(tfidf_LR_model3, open(filename, 'wb'))

In [ ]:
# SK-learn libraries for feature extraction from text.
from sklearn.feature_extraction.text import *
##################################################
#create n grams
#default CountVectorizer options 
#singleGram 
vectorizer = CountVectorizer() #decode_error="replace")#strip_accents= 'unicode', encoding='utf-8',
train_vec = vectorizer.fit_transform(df_test_data)#.values.astype('U') #str), 'U'
#train_vec.shape
#train_array = train_vec.toarray()
#print train_array [1:20,]
test_vec = vectorizer.transform(df_dev_data)
#print test_vec.shape

In [ ]:
1+1

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV
##################################################
#Build LR model
#fit a logistic regression model and find the optimal value for the regularization strength C using l2 regularization.
#LR Model
regularization_c = {'C': [0.001, 0.01, 0.1 ]} #0.0001, ,0.25, 0.5, 0.75, 0.9, 0.99,1]} #5,10,100]} #added 0.25 and 0.75 after seeing that 0.5 performed well, dropped above 1 at that point too
LR_model = LogisticRegression(penalty="l2")
grid = GridSearchCV(estimator=LR_model, param_grid=regularization_c, scoring = "f1_weighted")
grid.fit(train_vec, df_test_labels)
#summarize the results of the grid search
print "Logistic Regression best f1 score for training data: " + str(grid.best_score_)
print "Logistic Regression best regularization parameter: "+ str(grid.best_estimator_.C)

In [ ]:
took 15 hrs to run model on local laptop (i7, 12gb ram)

In [ ]:
import pickle
# save the model to disk
filename = 'finalized_model_post_midpoint.sav'
pickle.dump(LR_model, open(filename, 'wb'))